/* [[ FONTS ]] */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
}

html, body{
    line-height: 1 !important;
    background-image: url('./img/interlaced.png');
    background-attachment: scroll;
    font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    overflow: visible;
}

.blue-color {
    background-color: #4483FE;
}

.warning {
    background-color: #FF0000;
}

.green-color {
    background-color: #35D01A;
}

.army-color {
    background-color: #AE00FF;   
}


.army-btn {
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold !important;
    color: white !important;
}

.army-btn:hover {
    color: white !important;
}

.title-md {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* [[ SIDEBAR ]] */

a.sidebar-items {
    font-size: 2em;
    color: #AE00FF;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

a.sidebar-items:hover {
    background-color: rgb(216, 216, 216);
    border-radius: 2em;
}

img.sidebar-img {
    width: 0.9em;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 5em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;  
}

.sidebar .open {
    width: 5em;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
}

.sidebar-bottom {
    position: absolute;
    bottom: 1em;
    width: 3.7em;
}

.profile-sidebar {
    border-radius: 2em;
}

.profile-sidebar-container {
    width: 2em;
    height: 2em;
    border-radius: 2em;
}


/* [[ END SIDEBAR ]] */
/* [[ HOME PAGE ]] */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.event-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40em;
    padding-top: 1em;
    margin-top: 1em;
    border-radius: 1em;
}


.event-menu {
    font-size: 2em;
    letter-spacing: 0.285em;
}

.event-img-container {
    display: flex;
    align-items: center !important;
}

.event-col {
    display: flex;
    align-items: center;
}

.event-header img.profile-img {
    width: 2em;
}

.event-details {
    margin-left: 1em;
    margin-top: 1em;
}

.event-details p.event-title {
    color: black !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    font-size: 1.3em;
}

.event-details p {
    color: #9F9F9F;
}

.event-comments {
    margin-left: 1em;
    margin-right: 1em;
}

.view-comment {
    color: #9F9F9F;
    font-weight: normal;
}

.vol-btn {
    color: white;
    font-family: "Poppins", sans-serif !important;
    font-weight: bold !important;
    font-size: 1.2em;
    border-radius: 0 0 0.5em 0.5em;
    width: 100%;
}

.vol-btn:hover {
    color: white;
}
/* [[ END HOMEPAGE ]] */

.profile-container {
    display: flex;
    flex-direction: column;
    width: 40em;
    position: relative;
    margin-top: 1em;
}


.profile-header {
    border-radius: 1em;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: white;
}


.profile-header .profile-img {
    border-radius: 10em;
    width: 5em;
    height: 5em;
    margin-left: 1em;
}
.profile-events-container {
    margin-top: 1em;
    border-radius: 1em;
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
    background-color: white;
}

h3.title-md {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
/* [[ END OF PROFILE PAGE]] */
/* [[ CREATE EVENT PAGE ]] */
.ce-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40em;
    padding-top: 1em;
    margin-top: 1em;
    border-radius: 1em;
}

.ce-title {
    padding: 1em;
}

.ce-title h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.ce-form-body {
    padding: 1em;
}

.create-event-btn {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 0 0 0.5em 0.5em;
}

.create-event-btn:hover {
    color: white;
    
}
/* [[ END OF CREATE EVENT PAGE ]] */
/* [[ EVENT PAGE ]] */
.event-page{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60em;
    margin-top: 1em;
    border-radius: 1em;
    
}

.event-page-header {
    position: relative;
    padding-top: 1em;
}

.event-page-header img.profile-img {
    width: 3em;
}

.event-page-details p.event-title {
    color: black !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    font-size: 1.2em;
}

.event-page-details p {
    font-weight: semi-bold;
    font-size: 1em;
    color: #9F9F9F;
}

.ep-caption {
}

.ep-comment {
    height: 10em;
    overflow-y: auto;
}

.image-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

/* [[ END OF EVENT PAGE ]] */
/* [[ VOLUNTEERED EVENTS ]] */
.ve-container {
    display: flex;
    flex-direction: column;
    width: 40em;
    position: relative;
    margin-top: 1em;
}

.ve-header{
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}