{% extends 'home/base.html' %}
{% block content %} 
<div class="ce-container">
    <div class="ce-title">
        <h2>Create an event</h2>
    </div>
    <form class="ce-form" action="" method="post">
        <div class="ce-form-body">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="title" id="title" placeholder="Title of event">
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col">
                    <textarea class="form-control" name="details" id="detail" cols="30" rows="5" placeholder="Details about event"></textarea>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input form-control" id="customFile">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div style="width: 2em !important;" class="col-sm-1 "">
                    <p><i style="font-size: 2em !important;" class="fa fa-map-marker" aria-hidden="true"></i></p>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="title" id="title" placeholder="Location of event">
                </div>
            </div>
            <div class="row d-flex" style="align-items: baseline;">
                <div  class="col-1 " style="width: 11em !important; align-content: center !important;">
                    <p style="font-weight: normal; margin-right: 0em;"><i style="font-size: 1.5em !important;" class="fa fa-calendar" aria-hidden="true"></i><span style="margin-left: 0.5em; color: 000000; opacity:40%;">Date of event</span></p>
                </div>
                <div class="col" style="padding-right: 0em;">
                    <select class="form-select" name="month" id="month">
                        <option selected disabled>
                            Month
                        </option>
                    </select>
                </div>
                <div class="col" style="padding-right: 0em;">
                    <select class="form-select" name="date" id="date">
                        <option selected disabled>
                            Date
                        </option>
                    </select>
                </div>
                <div class="col" >
                    <select class="form-select" name="year" id="year">
                        <option selected disabled>
                            Year
                        </option>
                    </select>
                </div>
            </div>
            <div class="row d-flex" style="align-items: baseline;">
                <div class="col">
                    <p style="font-weight: normal; vertical-align: bottom !important; margin-right: 0em;"><i style="font-size: 1.5em !important;" class="fa fa-clock-o" aria-hidden="true"></i><span style="margin-left: 0.5em; color: 000000; opacity:40%;">Time of event:</span></p>
                </div>
            </div>
            <div class="row d-flex" style="align-items: baseline;">
                <div class="col-sm-1" style="width: 5em;">
                    <p style="margin-left: 1.8em;font-weight: normal; margin-right: 0em; color: 000000; opacity:40%;">From: </p>
                </div>
                <div class="col"  style="padding-right: 0em;" >
                    <select class="form-select"name="from_hour" id="from_hour">
                        <option selected disabled>
                            Hour
                        </option>
                    </select>
                </div>
                <div class="col"  style="padding-right: 0em;" >
                    <select class="form-select" name="from_minute" id="from_minute">
                        <option selected disabled>
                            Minutes
                        </option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="from_daylight" id="from_daylight">
                        <option selected>
                            AM
                        </option>
                    </select>
                </div>            
            </div>
            <div class="row d-flex mt-2" style="align-items: baseline;">
                <div class="col-sm-1" style="width: 5em;">
                    <p style="margin-left: 1.8em;font-weight: normal; margin-right: 0em; color: 000000; opacity:40%;">To: </p>
                </div>
                <div class="col"  style="padding-right: 0em;" >
                    <select class="form-select"name="to_hour" id="to_hour">
                        <option selected disabled>
                            Hour
                        </option>
                    </select>
                </div>
                <div class="col"  style="padding-right: 0em;" >
                    <select class="form-select" name="to_minute" id="to_minute">
                        <option selected disabled>
                            Minutes
                        </option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="to_daylight" id="to_daylight">
                        <option selected>
                            AM
                        </option>
                    </select>
                </div>            
            </div>
            <div class="row d-flex mt-2" style="align-items: baseline">
                <div style="width: 2em !important;" class="col-sm-1 "">
                    <img src="{{ url_for('static', filename='img/helping-people.svg') }}" alt="">
                </div>
                <div class="col">
                    <input type="number" class="form-control" name="title" id="title" placeholder="Volunteers needed">
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col">
                <button class="form-control btn green-color create-event-btn" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %} 
<script type="application/javascript">
    const fileInput = document.querySelector('input[type="file"]');
    fileInput.onchange = (e) => {
        let fileName = e.target.files[0].name;
        console.log(fileName);
    }
</script>
{% endblock %}