{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} {{ event['title'] }} {% endblock %}</h2>
<span>{{ event[3] }}</span>
<p>{{" Volunteers: "~event[4]~" Location: " ~(event[7])~ "" }}</p>
<form action="" method="post" novalidate>
    <p>{{ formVolunteer.volunteer() }}</p>
</form>
{% for discussion in discussions %}
<ul>
    <li>
        comment: {{discussion.comment}}<br>
        comments_date: {{discussion.comment_date}}
    </li>
    <br>
    {% if discussion.reply == none and discussion.reply_date == none%}
    <li>
        <form action="" method="post" novalidate>
            <p>
                {{ formReply.textReply.label }}<br>
                {{ formReply.textReply(size=60)}}<br>
            </p>
            <p>
                {{ formReply.submitReply() }}
            </p>
        </form>
    </li>
    {% else %}
    <li>
        reply: {{discussion.reply}}<br>
        reply_date: {{discussion.reply_date}}
    </li>
    {% endif %}
</ul>
<hr>
{% endfor %}
<form action="" method="post" novalidate>
    <p>
        {{ formComment.textComment.label }}<br>
        {{ formComment.textComment(size=60)}}<br>
    </p>
    <p>
        {{ formComment.submitComment() }}
    </p>
</form>
{% endblock %}
