{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="side-logo">
        <div class="logo">
            <h1 class="title-lg gradient-logo">Ordinals</h1>
        </div>        
        <p class="title-md">
            Lend a helping <br> hand. <span><img style="position: absolute !important; left: 0.5rem; bottom: 0.3rem; width: 2.2em;" src="{{ url_for('static', filename='img/line.svg') }}"></span>
        </p>
    </div>
    <div class="col">
        <form action="" class="form-box">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username or Email">
                <input type="password" class="form-control" placeholder="Password">                
            </div>
            <button type="submit" class="btn btn-primary army-color btn-block">Login</button>
            <center style="margin-top: 1em;">
                <a href="" class="cool-link">Forget your password?</a>
            </center>            
            <hr>
            <a href="/register" class="btn btn-success green-color">Create an account</a>
        </form>
    </div>
</div>

<!-- BACKEND -->

<a href = "{{ url_for( 'profile' , user_id = session['id'] ) }}">
    <h1>Hello! {{ user.username }}</h1>
</a>

{% for event in events %}
<a href="{{ url_for( 'event' , event_id = event[0] ) }}">
    <h2>{{ event[2] }}</h2>
</a>
<span>{{ event[3] }}</span>
<hr>
{% endfor %}
{% endblock %}